@mixin rounded-btn-mixin($width: 100%) {
  padding: 8px;
  background: $default;
  width: $width;
  height: auto;
  cursor: pointer;
  color: $white;
  border-radius: 50px;
  display: block;
  margin: auto;
  text-align: center;
}

.rounded-btn {
  @include rounded-btn-mixin(100%);
}

.outline-btn {
  border: 1px solid $blue;
  padding: 8px;
  background: $white;
  width: 170px;
  height: auto;
  cursor: pointer;
  color: $blue;
  border-radius: 50px;
  display: block;
  margin: auto;
  text-align: center;
}

.chip-icon-btn {
  color: $white;
  font-size: 12px;
  background: $default;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  width: auto;
}
